.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 15px;
  background-color: rgb(48, 48, 243);
  border-radius: 15px;
  width: 100%;
  max-width: 699px;
  margin: 0 5px;
}

.heading-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.queNoP,
.que-txt,
.label {
  font-size: 23px;
  color: white;
}

.input {
  height: 17px;
  width: 17px;
}

.label {
  margin-left: 5px;
  cursor: pointer;
}

.queNoP {
  margin-left: 5px;
}

.btn-container {
  display: flex;
  justify-content: right;
}

.btn {
  margin-right: 19px;
  height: 43px;
  width: 109px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 23px;
  cursor: pointer;
}

.btn:disabled{
  cursor: not-allowed;
}