.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.heading-div{
  display: flex;
  justify-content: space-between;
}

.timer-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 69px;
  background-color: #61dafb;
border-radius: 19px;
}

.timer-icon{
  height: 49px;
  width: 49px;
  margin-right: 9px;
  border-radius: 50%;
}

.timer-txt{
  font-size: 31px;
}